<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .left {
            left: 10px;
            width: 15%;
            float: left;
            background: #C8FC98;
            top:200px;
        }
        .right {
            margin-left: 15%;
            width: 70%;
            background: #aaa;
            top: 200px;
        }
        .container{
            margin: 0 auto;
            width: 888px;

        }


    </style>
</head>
<body>

    <div class="container">
        <h1>what a player</h1>
        <hr />
        <br />

        <div class="left">

     


        </div>
        <div class="right">
        
        

        </div>
      
        <div class="page"></div>


    </div>
    
    <script src="Scripts/jquery-1.8.2.min.js"></script>
    
    <script src="Scripts/underscore.min.js"></script>
    <script src="Scripts/backbone.min.js"></script>
    <script type="text/template" id="user-list-template">
        
        <hr />
        <table class="table striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>matchnumber</th>
                    <th>mode</th>
                    <th>playerlist</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(users, function(user) { %>
                <tr>
                    <td><%= htmlEncode(user.get('id')) %></td>
                    <td><%= htmlEncode(user.get('matchnumber')) %></td>
                    <td><%= htmlEncode(user.get('gamemode')) %></td>



                    <td>

                      

                        <% _.each(user.get('gameplayers'), function(gp) { %>
                        <p><a class="btn" href="#/player/<%= gp.player.id %>"><%= gp.player.name %></a></p>
                        <% }); %>

                       


                    </td>
                </tr>
                <% }); %>




            </tbody>
        </table>
    </script>
    <script type="text/template" id="player-list-template">
        
        <hr />
        <table class="table striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(users, function(user) { %>
                <tr>
                    <td><a class="btn" href="#/player/<%= user.id %>"><%= htmlEncode(user.get('name')) %> </a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </script>
    <script type="text/template" id="hero-template">
        <a href="#"><%= heroname %></a>

    </script>

    <script type="text/template" id="gameplayer-template">

            <%= player.name %> <% _.each(items, function(item) { %>

          <% if (item.iteminfo) { %>
        
         

        <img src= <%= getUrl(item.iteminfo.itemurl)%> width="32" height="24"/>

        <% } %>
                <% }); %>
        <br />

    </script>

    <script type="text/template" id="edit-user-template">
        <form class="edit-user-form">
            <legend><%= user ? 'Edit' : 'New' %> User</legend>
            <label>First Name</label>
            <input name="firstname" type="text" value="<%= user ? user.get('firstname') : '' %>">
            <label>Last Name</label>
            <input name="lastname" type="text" value="<%= user ? user.get('lastname') : '' %>">
            <label>Age</label>
            <input name="age" type="text" value="<%= user ? user.get('age') : '' %>">
            <hr />
            <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %></button>
            <% if(user) { %>
            <input type="hidden" name="id" value="<%= user.id %>" />
            <button data-user-id="<%= user.id %>" class="btn btn-danger delete">Delete</button>
            <% }; %>
        </form>
    </script>

    <script>
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }

        function getUrl(item) {

            if (item) {

                return "http://cdn.dota2.com/apps/dota2/images/items/" + item + "";
            }
            else {

                return "img/empty.jpg";
            }
        }

        

        
        var GamePlayer = Backbone.Model.extend({


        });

        var GamePlayers = Backbone.Collection.extend({
            model: GamePlayer,
            customFilter: function (filters) {
                var results = this.where(filters);
                return new GamePlayers(results);
            },
            url: '/api/heroes'


        });

        var gamePlayers = new GamePlayers();

        var Player = Backbone.Model.extend({
            defaults: {
                id: -1,
                playerident: -1,
                name: ' '
            },
            urlRoot: '/api/players'
        });

        var Players = Backbone.Collection.extend({
            model: Player,
            url: '/api/players'
        });

       








        var Match = Backbone.Model.extend({
        

        });


        var Matches = Backbone.Collection.extend({
            model:Match,
            initialize: function (props) {
                this.url = '/api/playermatches/' + props.id;
            }


        });



        var User = Backbone.Model.extend({
            urlRoot: '/api/dota2'
        });


       
        
        

        var GamePlayerView = Backbone.View.extend({
            el: '.right',

            initialize: function () {

                this.collection.bind('reset', this.render);

            },
            template: _.template($('#gameplayer-template').html()),

            render: function () {
            
                //var temp = new GamePlayers({ "player": { "id": 6, "playerident": 67601693, "name": "[HyperX] Liquid`TC" }});
                var self = this;
                //temp = temp.toJSON();

                var html = [];

                this.$el.html('');
                //var template = _.template($('#gameplayer-template').html());
                console.log(this.collection);
                this.collection.each(function (item) {
                    console.log(self.template(item.toJSON()));
                    html.push(self.template(item.toJSON()));

                });

                this.$el.html(html);
                return this;

            }
        });

        var gamePlayerView = new GamePlayerView({ collection: gamePlayers });

        gamePlayers.fetch({
            success: function () {
                gamePlayerView.render();
            }
        
        });

        var UserListView = Backbone.View.extend({
            el: '.page',

            initialize: function () {

            },


            render: function () {
                var that = this;
                var users = new Players();
                
                users.fetch({
                    success: function (users) {
                        var template = _.template($('#player-list-template').html(), { users: users.models });
                        that.$el.html(template);
                    }
                })
            }
        });

        var userListView = new UserListView();

        var MatchListView = Backbone.View.extend({
            el: '.page',
            render: function (options) {
                var that = this;
                var users = new Matches({ id: options.id });
                users.fetch({
                    success: function (users) {
                        var template = _.template($('#user-list-template').html(), { users: users.models });
                        that.$el.html(template);
                    }
                })
            }
        });

        var matchListView = new MatchListView();

       
        var Hero = Backbone.Model.extend({
            defaults: {
                heronumber: -1,
                heroname: ''

            },

        });

        var HeroList = Backbone.Collection.extend({
            model: Hero,
            url: '/api/herolist'


        });

        var HeroView = Backbone.View.extend({

            events: {
                "click a": "clicked"
            },

            clicked: function (e) {
                e.preventDefault();
                var name = this.model.get("heronumber");
                gamePlayers.fetch({url:'api/matchesbyhero/'+name,
                    success: function () {
                        gamePlayerView.render();
                    }

                });

            },

            render: function () {
                var template = _.template($('#hero-template').html())
                var html = template(this.model.toJSON());
                $(this.el).append(html);
            }
        });

        var HeroListView = Backbone.View.extend({


            el: '.left',

            initialize: function () {
                _.bindAll(this, "renderItem");
            },

            renderItem: function (model) {
                var heroView = new HeroView({ model: model });
                heroView.render();
                $(this.el).append(heroView.el);
            },

            render: function () {
                this.collection.each(this.renderItem);
            }

        });

        var herolist = new HeroList();

        var herolistview = new HeroListView({ collection: herolist });

        herolist.fetch({
            success: function () {
                herolistview.render();
            }

        });
       

        var Router = Backbone.Router.extend({
            routes: {
                "": "home",
             
                "player/:id" : "player",
            }
        });

        var router = new Router;
        router.on('route:home', function () {
            // render user list
           // gamePlayerView.render();
        })
   
        router.on('route:player', function (id) {
            // render user list
            matchListView.render({ id: id });
        })
        Backbone.history.start();
    </script>
</body>
</html>
